body {
  border: 20px solid gray;
  border-top: 0px solid gray;
  padding: 0%;
  margin: 0%;
}

.keefer-header {
  display: flex;
  margin-bottom: 0%;
}
.image-left {
  width: 50%;
  height: auto;
  padding: 20px;
}
.logo
{
  width: 100%;
  height: auto;
  margin: 0%;
}
.contact-center {
  flex-direction: column;

  justify-content: center;
  padding: 20px;
  margin-left: 10%;
}

.contact-center h1,
.contact-center p {
  margin: 0;
}

.top-line {
  color: #ce3434;
  font-weight: 900;
  font-size: 30px;  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  text-underline-offset: 7px;
  text-underline-position: below;
  padding-bottom: 5px;
  margin-top: 0%;
  margin-top: 2px;
}

.phone-number {
  font-size: 50px;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-stretch:ultra-expanded;
  color: #333;
  letter-spacing: 1px;
  padding-right: 10px;
  
}

.sub-text {
  font-size: 18px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  color: #555;
  margin-top: 0%;
}
.navbar {
  color: white;
  background: linear-gradient(to bottom, #b30000, #490c0c); /* red to dark red */

}
.navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap:4.2%;
  padding-right: 13px;
  margin: 0%;
}
.navbar ul li a{
  display: block;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    padding: 17px 10px; /* Add padding to make it box-like */
  display: inline-block; /* Needed for padding to work properly */
  transition: background-color 1s,
   color 0.7s;
}
.navbar ul li a:hover{
  background-color: #7b7676; 
  color: white;
}
.ExperienceAndQuestions {
  border: hsl(0, 100%, 99%) solid 35px;
  display: flex;
  gap: 2%;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.Experience {
  width: 50%;
  padding: 0%;
  margin: 0%;
}

.Experience .logopng {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.QuestionForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 63%;
  background: #fff;
  border: 2px solid #050303;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  background-image: url(../images/form_bg.jpg);
  background-size: cover;
}

.QuestionForm .header {
  display: flex;
  gap: 1%;
}

.questions-box {
  padding: 15px 33px;
  height: 23%;
  margin-top: 0px;
  margin-left: 0%;
  background-color: #990000;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.header h2
{
  padding-left: 10%; 
  margin-top: 0%;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
}
.highlight {
  color: #003366;
  font-size: 28px;
  margin-top: 2%;
}

.info-text {
  margin: 0px;
  font-size: 17px;
}

.question-form {
  display: flex;
  gap:20px;
}
.login 
{
  margin:auto;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-top: 3px;
  font-weight: bold;
  font-size: 12px;
  font-weight: 700;
}

.form-group input {
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.confidential {
  
  transform: rotate(+10deg);
  margin-top: 15px;
  
}

.QuestionForm textarea {
  width: 70%;
  height: 40px;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
  margin-top: 10px;
  margin-left: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  justify-content:center;
  gap: 2%;
}

.privacy {
  font-size: 12px;
  color: #555;
  letter-spacing: 2px;
}

button {
  padding: 15px 25px;
  background-color: #c00;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #a00;
}

/* 2nd half keefer */



.second-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vw;
  background: #ffffff;
  margin: 0vw;
  padding: 3vw 1.5vw;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); 
}

.inner1 {
  background: rgba(0, 0, 255, 0);
  width: 33%;
  height: 100%;
}


.inner2 {
  background: rgba(123, 123, 255, 0);
  margin-top: 0vw;
  width: 33%;
  height: 355px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.inner3 {
  background: rgba(152, 152, 152, 0);
  width: 33%;
  height: 100%;
}

.inner1 .inner-h {
  padding: 1vw 1vw;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inner1 .inner-h strong {
  color: brown;
}

.inner1 .inner-h h2 {
  color: brown;
  font-size: 1.8vw;
}

.inner-text {
  display: flex;
  padding: 1vw 1vw;
}

.left-t {
  width: 70%;
}

.left-t p {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}


.right-i img {
  margin-top: 0vw;
  width: 120px;
  height: 150px;
}

.button-r {
  display: flex;
  justify-content: end;
  border-top: 1px solid gray;
  width: 50%;
  float: right;
  margin: 0vw 1vw;
  padding: 0vw 2vw;
}

.button-r button {
  float: right;
  background: brown;
  font-size: 17px;
  width: 190px;
  height: 35px;
  color: white;
  text-transform: uppercase;
  padding: 4px 5px;
  border: none;
}

.button-r button .fa-solid {
  margin-left: 4px;
}


.inner-main {
  display: flex;
  justify-content: center;
  padding: 0vw 2vw;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding-bottom: 10px;
}

.inner-main h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
}

.inner-main strong {
  color: brown;
}

.inner-main p {
  font-size: 1.6vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.law-button1 button {
  width: 140px;
  float: right;
  margin-right: 2vw;
  margin-top: 0vw;
  padding: 0.5vw;
  font-size: 16px;
  background: brown;
  border: none;
  color: white;
  text-transform: uppercase;
}

.law-button1 .fa-solid {
  margin-left: 6px;
}

.law-button1 {
  border-top: 1px solid gray;
  margin-bottom: 0vw;
  margin-top: 0.5vw;
  width: 90%;
}

.firm img {
  height: 120px;
  margin-top: 18px;
  width: 140px;  
}

.inner-2 {
  display: flex;
  padding: 0vw 2vw;
  margin-top: 0px;
  padding-top: 0px;
} */



.inner-2 .case h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.2vw;
  text-transform: uppercase;
  margin-top: 1vw;
}

.inner-2 .case strong {
  color: brown;
}

.inner-2 p {
  font-size: 1.6vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.law-button2 button {
  width: 135px;
  float: right;
  margin-right: 2vw;
  margin-top: 0vw;
  padding: 0.5vw;
  font-size: 16px;
  background: brown;
  border: none;
  color: white;
  text-transform: uppercase;
}

.inner-2 .law-button2 {
  border-top: 1px solid gray;
  margin-bottom: 0vw;
  margin-top: 0.5vw;
}

.law-button2 .fa-solid {
  margin-left: 5px;
}

.firm img {
  height: 80px;
  margin-top: 18px;
}

.book img {
  width: 130px;
  height: 110px;
  margin-top: 15px;
  padding-left: 10px;
}

.inner3 .inner-1 {
  display: flex;
  margin-top: 20px;
}

.inner3 .inner-1 .left-img {
  width: 50%;
  display: flex;
  justify-content: center;

}

.left-img img {
  width: 75%;
  height: 90%;
  /* padding-right: 30px; */
}

.inner3 .inner-1 .right-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.right-img img {
  width: 60%;
  height: 80%;
}

.strong-text h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 0px;
  margin-bottom: 0px;
}

.strong-text strong {
  color: brown;

}

.inner-3 .last-text {
  margin-top: 10px;
  width: 90%;
  padding: 0.5px 2vw;
}

.inner-3 .last-text p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.last-button2 {
  margin-top: 20px;
  margin-right: 10px;
  float: right;
  border-top: 1px solid gray;
  width: 240px;
}

.last-button2 button {
  margin-right: 40px;
  float: right;
  border: none;
  font-size: 15px;
  padding: 1.3vw;
  background: brown;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 170px;
  text-transform: uppercase;
}

.last-button2 .fa-solid {
  margin-left: 10px;
}
/* 

.last-section{
  display: flex;
  justify-content: center;
  /* height: 100vh; 
/* }
.box-section{
  width: 25%;
  background-color: rgba(0, 128, 0, 0);
  padding: 2vw 3vw;
}

.box-section h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}

.box-section h1 strong{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: brown;
}

.inner-box{
  display: flex;
}

.inner-box .box-bg{
  margin-top: 20px;
  background-image: url(images/menu_bg.gif);
  width: 15px;
  height: 75px;
  background-repeat: no-repeat;

}

.inner-box .box-button{
  margin-top: 20px;
  width: 270px;
  height: 75px;
  background-color: gray;
}

.box-button .textt h2{
  font-size: 23px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  padding: 0.5vw 1vw;
  color: white;
}

.buttonn button{
  background: none;
  float: right;
  margin-right: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: 800;
}  

.menu-area{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-area h2{
  font-size: 25px;
  text-transform: uppercase;
  font: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 60px;
  opacity: 0.5;
}

.buttonn .fa-solid{
  color: brown;
  margin-left: 5px;
  
}

.more-section{
  padding: 2vw 2vw;
}

.more-section h1{
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}


.heading-section{
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
}

.heading-inner{
  padding: 2.5vw 2vw;
}


.heading-inner h1{
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading-inner p{
  margin-top: 20px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo-section{
  width: 25%;
  background-color: rgba(0, 0, 255, 0);
  padding: 3vw 2vw;
}

.side-box1 {
  margin-bottom: 55px;
} 

.side-box1 h1{
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
} 

.side-box1 p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 600;
}

.side-box1 strong{
  color: brown;
  font-weight: 600;
}

.click-last-button{
  margin-top: 15px;
  border-top: 2px solid gray;
  width: 80%;
}
.click-last-button button{
  float: right;
  margin-right: 2vw;
  width: 150px;
  padding: 0.8vw 2vw;
  background: brown;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}

.side-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.side-image img{
  width: 60%;
}

.side-image2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image2 img{
  width: 60%;
}


.follow-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom: 2px solid gray;
  width: 60%;
  float: right;
  margin-right: 4vw;
}

.follow-button h1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.follow-button strong{
  font-weight: 600;
  color: brown;
}

.icons{
  display: flex;
  align-items: center;
  margin-top: 6vw;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 2vw;
}    */ 